<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nabil Jamaleddine - Web Developer</title>

        <meta name="author" content="Nabil Jamaleddine">
        <meta name="keywords" content="Django,Python,JavaScript,PostgreSQL,HTML5,REST,Angular,Linux,Android,Programmer,Developer,Backend,Fullstack,Engineer">
        <meta name="description" content="Nabil Jamaleddine, a Web Developer interested in elegant code, database schema design, and RESTful API development.">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="icon" href="../static/images/favicon.png" />
        <link rel="apple-touch-icon-precomposed" href="../static/images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="../static/css/site.min.css" />
        <script src="static/js/index.min.js"></script>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'layouts/nav.html' %}

        {% block body %}
        {% endblock %}

        {% include 'layouts/footer.html' %}
    </body>
</html>