<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ default_meta_tags.title }}{% endblock %}</title>

        {% block head_tags %}
        <meta name="author" content="{{ profile_info.name }}">
        <meta name="keywords" content="{{ default_meta_tags.keywords }}">
        <meta name="description" content="{{ default_meta_tags.description }}">
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ default_meta_tags.title }}" />
        <meta property="og:description" content="{{ default_meta_tags.description }}" />
        <meta property="og:image" content="{{ site_url }}images/og-image.jpg" />
        {% endblock %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="{{ default_meta_tags.theme_color }}">

        <meta property="og:url" content="{{ get_canonical_url }}" />
        <link rel="canonical" href="{{ get_canonical_url }}" />

        <link rel="icon" href="{{ STATIC_URL }}images/favicon.png" />
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.min.css" />
    </head>
    <body>
        {% include 'layouts/nav.html' %}

        {% block body %}
        {% endblock %}
    </body>
</html>