<nav>
    <a href="/" class="logo">
        Nabil Jamaleddine
    </a>
    <h1 class="subheading">Web Developer</h1>
    <ul class="navigation">
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://github.com/njamaleddine" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/nabil-jamaleddine-07094240" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li><a href="mailto:me@nabiljamaleddine.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
</nav>