<nav>
    <a href="/" class="logo">
        {{ profile_info.name }}
    </a>
    <h1 class="subheading">{{ profile_info.role }}</h1>
    <ul class="navigation">
        <li><a href="/blog">Blog</a></li>
        <li><a href="{{ profile_info.github }}" target="_blank">GitHub <i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="{{ profile_info.linkedin }}" target="_blank">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li><a href="{{ profile_info.email }}">Email <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
</nav>