# Core
# -------------------------------------
Django==4.1.3
gunicorn==20.1.0

# Configuration
# -------------------------------------
django-environ==0.9.0
python-dotenv==0.21.0

# Extensions
# -------------------------------------
pytz==2022.6

# Models
# -------------------------------------
psycopg2==2.9.5
django-model-utils==4.3.1
Pillow==9.3.0
django-versatileimagefield==2.2
django-uuid-upload-path==1.0.0

# Static Files and Media Storage
# -------------------------------------
django-storages==1.13.1

# Logging
# -------------------------------------
python-json-logger==2.0.4
apache-log-parser==1.7.0

# Blog Tooling
# -------------------------------------
Markdown==3.4.1
MarkupSafe==2.1.1
Pygments==2.13.0
