# Core
# -------------------------------------
Django==3.2.16
gunicorn==20.1.0

# Configuration
# -------------------------------------
django-environ==0.4.5
python-dotenv==0.18.0

# Extensions
# -------------------------------------
pytz==2021.1

# Models
# -------------------------------------
psycopg2==2.9.1
django-model-utils==4.1.1
Pillow==8.2.0
django-versatileimagefield==2.1
django-uuid-upload-path==1.0.0

# Static Files and Media Storage
# -------------------------------------
django-storages==1.11.1

# Logging
# -------------------------------------
python-json-logger==2.0.1
apache-log-parser==1.7.0

# Blog Tooling
# -------------------------------------
Markdown==3.3.4
MarkupSafe==2.0.1
Pygments==2.9.0
