# Core
# -------------------------------------
Django==2.0.1
djangorestframework==3.7.7
gunicorn==19.7.1

# Configuration
# -------------------------------------
django-environ==0.4.4
django-sites==0.10
python-dotenv==0.7.1

# Extensions
# -------------------------------------
pytz==2017.3

# Models
# -------------------------------------
psycopg2==2.7.3.2
django-model-utils==3.1.1
Pillow==5.0.0
django-versatileimagefield==1.8.1
django-uuid-upload-path==1.0.0

# REST Framework Extensions
# -------------------------------------
django-filter==1.1.0

# Static Files and Media Storage
# -------------------------------------
boto3==1.5.19
django-storages==1.6.5

# Logging
# -------------------------------------
python-json-logger==0.1.8
apache-log-parser==1.7.0

# Sentry (https://getsentry.com)
# -------------------------------------
raven==6.5.0

# Blog Tooling
# -------------------------------------
Markdown==2.6.11
MarkupSafe==1.0
Pygments==2.2.0
