/*
    Forms stylesheet
*/
form {
    .form-field {
        font-family: @roboto;
        margin-bottom: 40px;
        letter-spacing: 1px;

        label {
            display: block;
            font-size: 22px;
            font-weight: 200;
            text-transform: capitalize;
        }

        input {
            .form-field-input;
        }

        textarea {
            .form-field-input;
            height: 100px;
        }
    }
    input[type="submit"] {

    }
}