/*
    Global Variables and styles
*/

/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300italic,500,500italic,300,100);

/* Make HTML 5 elements display block-level for consistent styling */
header, nav, section, footer, address, article {
    display: block;
}

/* Remove blue borders around image links in IE6+*/
a img {
    border: 0;
}

body {
    background-color: #fff;
    color: #222;
    font-family: @roboto;
    font-size: 1em;
    margin: auto;
    margin: 0;
    padding: 0;
    // Max width for the body (should use a wrapper class but this works for now)
    max-width: 1366px;
    margin: auto;

    // Add default padding to containers
    & > div, & > nav, & > footer {
        padding: 0px 20px;
    }
}

.transition-anchor (@color: @dark-link-green) {
    color: @color;
    transition: color 0.2s ease-out;
    text-decoration: underline;

    &:hover {
        color: lighten(@color, 15%);
        transition: color 0.2s ease-in;
    }

    &:active {
        color: darken(@color, 15%);
        transition: color 0.05s ease-out;
    }
}

a {
    .transition-anchor (@dark-link-green);
}

.light-anchor {
    .transition-anchor (@link-green);
}