/*
    NabilJamaleddine.com stylesheet

    Last Modified: Sunday November 28th, 2015
    Developer: Nabil Jamaleddine
*/
/*
    Variables stylesheet
*/
/* Fonts */
/* Colors */
/*
    Global Variables and styles
*/
/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300italic,500,500italic,300,100);
/* Make HTML 5 elements display block-level for consistent styling */
header,
nav,
section,
footer,
address,
article {
  display: block;
}
/* Remove blue borders around image links in IE6+*/
a img {
  border: 0;
}
body {
  background-color: #ffffff;
  color: #222222;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin: auto;
}
body > div,
body > nav,
body > footer {
  padding: 0px 20px;
}
@media (min-width: 500px) {
  body > div,
  body > nav,
  body > footer {
    padding: 20px;
  }
}
@media (min-width: 700px) {
  body > div,
  body > nav,
  body > footer {
    padding: 20px 50px;
  }
}
@media (min-width: 800px) {
  body > div,
  body > nav,
  body > footer {
    padding: 20px 100px;
  }
}
a {
  color: #556655;
  transition: color 0.2s ease-out;
  text-decoration: underline;
}
a:hover {
  color: #798f79;
  transition: color 0.2s ease-in;
}
a:active {
  color: #323c32;
  transition: color 0.05s ease-out;
}
.light-anchor {
  color: #aaccaa;
  transition: color 0.2s ease-out;
  text-decoration: underline;
}
.light-anchor:hover {
  color: #dae9da;
  transition: color 0.2s ease-in;
}
.light-anchor:active {
  color: #7aaf7a;
  transition: color 0.05s ease-out;
}
/* Remove mac outline */
input:focus,
textarea:focus {
  outline: none;
}
/*
    Mixins stylesheet
*/
.shadowed-text {
  text-shadow: 1px 1px 2px #000;
}
.title-text-clear {
  text-shadow: 1px 1px 2px #000;
  font-size: 32px;
  font-weight: 200;
  color: #ffffff;
}
.cross-out {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.form-field-input {
  border: 0;
  border-bottom: 1px solid #ececec;
  color: #333333;
  font-size: 22px;
  font-weight: 200;
  padding: 10px 0px;
  width: 500px;
}
.form-field-input:focus {
  border: 0;
  border-bottom: 1px solid #aaccaa;
}
/*
    Forms stylesheet
*/
form .form-field {
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
form .form-field label {
  display: block;
  font-size: 22px;
  font-weight: 200;
  text-transform: capitalize;
}
form .form-field input {
  border: 0;
  border-bottom: 1px solid #ececec;
  color: #333333;
  font-size: 22px;
  font-weight: 200;
  padding: 10px 0px;
  width: 500px;
}
form .form-field input:focus {
  border: 0;
  border-bottom: 1px solid #aaccaa;
}
form .form-field textarea {
  border: 0;
  border-bottom: 1px solid #ececec;
  color: #333333;
  font-size: 22px;
  font-weight: 200;
  padding: 10px 0px;
  width: 500px;
  height: 100px;
}
form .form-field textarea:focus {
  border: 0;
  border-bottom: 1px solid #aaccaa;
}
/*
    Header stylesheet
*/
nav {
  text-align: center;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
@media (min-width: 800px) {
  nav {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}
nav .logo {
  color: #333333;
  display: block;
  font-size: 34px;
  font-weight: 300;
  margin-left: -5px;
  text-decoration: none;
}
nav .subheading {
  color: #333333;
  font-size: 25px;
  font-weight: 300;
}
nav .navigation {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
}
nav .navigation li {
  float: left;
  font-size: 20px;
  font-weight: 300;
  padding: 15px 15px 15px 0px;
}
nav .navigation li:last-of-type {
  padding-right: 0;
}
@media (min-width: 400px) {
  nav .logo {
    font-size: 40px;
  }
}
@media (min-width: 460px) {
  nav {
    text-align: left;
  }
  nav .logo {
    font-size: 50px;
  }
}
@media (min-width: 540px) {
  nav .logo {
    font-size: 60px;
  }
}
@media (min-width: 620px) {
  nav .logo {
    font-size: 70px;
  }
}
/*
    Footer stylesheet
*/
footer {
  font-size: 16px;
  font-weight: 300;
  margin-top: 70px;
}
/*
    Homepage stylesheet
*/
#main {
  background: url("/static/images/nyc.jpg");
  background-position: center;
  background-size: cover;
  color: #dddddd;
  font-size: 22px;
  font-weight: 300;
  min-height: 770px;
}
#main .information {
  margin-top: 100px;
  padding-bottom: 50px;
}
#main .information .title {
  text-shadow: 1px 1px 2px #000;
  font-size: 32px;
  font-weight: 200;
  color: #ffffff;
}
#main .information .description {
  text-shadow: 1px 1px 2px #000;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 200;
}
@media (max-width: 500px) {
  #main {
    padding: 20px;
  }
  #main .information {
    margin-top: 50px;
  }
  #main .information div,
  #main .information p:not(.title),
  #main .information a {
    font-size: 16px;
  }
}
.section {
  clear: both;
  margin-top: 70px;
  min-height: 550px;
  padding-top: 15px;
}
.section .title {
  font-size: 30px;
  font-weight: 300;
}
.section .projects-list {
  list-style: none;
  padding-left: 0;
}
.section .projects-list li {
  float: left;
  display: inline-block;
  width: 30.926%;
  min-width: 250px;
  margin: 0px 15px;
}
.section .projects-list li .subtitle {
  font-size: 20px;
  font-weight: 300;
}
.section .projects-list li .img-box img {
  width: 100%;
}
.section .projects-list li .description {
  font-weight: 300;
}
@media (min-width: 600px) {
  .section .projects-list li {
    min-width: 300px;
  }
}
#skillset {
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 500px) {
  #skillset {
    font-size: 16px;
  }
}
