/*
    Code highlighting
*/

// Set up back ticks and pre/code to use proper styling
p {
    code {
        padding: 3px;
    }
}
pre, code {
    background-color: $code-background;
    font-size: 14px;
    padding: 20px;
    overflow-x: auto;  // this might be a horrible idea
    // font-family: $source-code-pro;

    code {
        // Remove padding for nested objects
        padding: 0;
    }

    @media(min-width: 700px) {
        font-size: 18px;
    }
}

// Highlight colors for code
.codehilite {
    .k, .kd {
        color: #aa33bb;
    }

    .nf, .nx {
        color: #1144aa;
    }

    .p {

    }

    .n, .mi {
        color: #cc8616;
    }

    .c, .c1 {
        color: #888;
    }

    .o {
        color: #b22222;
    }
}