/*
    Global Variables and styles
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Make HTML 5 elements display block-level for consistent styling */
header, nav, section, footer, address, article {
    display: block;
}

/* Remove blue borders around image links in IE6+*/
a img {
    border: 0;
}

/* Remove blue outline on form fields on OS X */
input:focus, textarea:focus {
    outline: none;
}

body {
    background-color: $print-white;
    color: $body-gray;
    font-family: $roboto;
    font-size: 1em;
    margin: auto;
    margin: 0;
    padding: 0;
    margin: auto;

    // Add default padding to containers
    & > div, & > nav, & > footer {
        padding: 0px 20px;

        @media (min-width: 500px) {
            padding: 20px;
        }

        @media (min-width: 700px) {
            padding: 20px 50px;
        }

        @media (min-width: 800px) {
            padding: 20px 100px;
        }

        @media (min-width: 1200px) {
            padding: 20px 200px;
        }
    }
}

@mixin transition-anchor($color: $dark-link) {
    color: $color;
    transition: color 0.2s ease-out;
    text-decoration: underline;

    &:hover {
        color: lighten($color, 15%);
        transition: color 0.2s ease-in;
    }

    &:active {
        color: darken($color, 15%);
        transition: color 0.05s ease-out;
    }
}

a {
    @include transition-anchor($dark-link);
}

.light-anchor {
    @include transition-anchor($link-green);
}

hr {
    border: 0;
    border-bottom: 1px solid #eee;
}

/* Default styles for code */
pre {
    letter-spacing: 0px !important;
    line-height: 1em !important;
    font-size: 1em !important;
}
