{% extends 'layouts/base.html' %}

{% block head_tags %}
    <title>{{ default_meta_tags.title }}</title>
    <meta name="author" content="{{ profile_info.name }}">
    <meta name="keywords" content="{{ default_meta_tags.keywords }}">
    <meta name="description" content="{{ default_meta_tags.description }}">
    <meta property="og:url" content="http://www.nabiljamaleddine.com/blog" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ default_meta_tags.title }}" />
    <meta property="og:description" content="{{ default_meta_tags.description }}" />
{% endblock %}

{% block body %}
<div id="blog">
    {% for post in posts %}
        {% include 'layouts/_blog_post_detail.html' %}
        <hr/>
    {% endfor %}
</div>

{% endblock %}