{% extends 'layouts/base.html' %}

{% block title %}{{ post.title }} | {{ profile_info.name }}{% endblock %}

{% block head_tags %}
<meta name="author" content="{{ profile_info.name }}">
<meta name="keywords" content="{{post_tags|join:','}}">
<meta name="description" content="{{ post.summary }}">
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ post.title }} | {{ profile_info.name }}" />
<meta property="og:description" content="{{ post.summary }}" />
<meta property="article:published_time" content="{{ post.published|date:'c' }}" />
<meta property="article:modified_time" content="{{ post.modified|date:'c' }}" />
<meta property="article:author" content="{{ profile_info.name }}" />
<meta name="article:tag" content="{{post_tags|join:','}}">
{% endblock %}

{% block body %}
{% include 'layouts/_blog_post_detail.html' %}
{% endblock %}