{% extends 'layouts/base.html' %}
{% block body %}
<div id="main">
    <div id="bio" class="information">
        <p class="title">Who am I?</p>
        <p class="description">
            I'm a fullstack developer who's developed dozens of applications in social, ecommerce, data mining, custom content management solutions, education, and entertainment. Although most of my work involves the server side building out RESTful APIs and architechting databases, I've also been involved in other aspects of development including frontend and devops.
        </p>
        <p class="description">
            When I'm not coding, I enjoy exploring the culinary world, craft beer, and martial arts.
        </p>
    </div>

    <div id="experience" class="information">
        <p class="title">Experience</p>
        <ul class="description">
            <li>Python
                <ul>
                    <li>Django, REST Framework, Celery, pytest, mock</li>
                </ul>
            </li>
            <li>JavaScript
                <ul>
                    <li>Node.js, jQuery</li>
                </ul>
            </li>
            <li>Java
                <ul>
                    <li>Android SDK</li>
                </ul>
            </li>
            <li>AWS
                <ul>
                    <li>EC2, RDS (PostgreSQL), Elasticache, EBS, S3</li>
                </ul>
            </li>
            <li>Heroku</li>
            <li>HTML, CSS</li>
        </ul>
    </div>
</div>
{% endblock %}