{% extends 'layouts/base.html' %}

{% block head_tags %}
    <meta name="keywords" content="Nabil Jamaleddine,Software Engineer,Engineer,Developer,Backend,Python,Django,JavaScript,PostgreSQL,Microservices,REST,GraphQL,AWS">
    <meta name="description" content="Nabil Jamaleddine, a Software Engineer interested in clean code, schema design, and API development.">
    <meta property="og:url" content="http://www.nabiljamaleddine.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nabil Jamaleddine | Software Engineer" />
    <meta property="og:description" content="Nabil Jamaleddine, a Software Engineer interested in clean code, schema design, and API development." />
{% endblock %}

{% block body %}
<div id="main">
    <div id="bio" class="information">
        <p class="title">About</p>
        <p class="description">
            I'm a Software Engineer and Tech Lead currently working at CNN.
        </p>
        <p class="description">
            Throughout my career I've worked on distributed systems and microservice architectures implementing GraphQL and REST APIs, database design for SQL and NoSQL applications, and infrastructure as code.
            I've developed across various domains including news, custom content management solutions, ecommerce, data mining, social media, education, and entertainment.
        </p>
        <p class="description">
            When I'm not coding, I enjoy exploring the culinary world, craft beer, and martial arts.
        </p>
    </div>
    <div id="experience" class="information">
        <p class="title">Experience</p>
        <ul class="description">
            <li>Python
                <ul>
                    <li>Django, REST Framework, Celery, pytest, mock</li>
                </ul>
            </li>
            <li>JavaScript
                <ul>
                    <li>Node.js, MongoDB, React, Jest</li>
                </ul>
            </li>
            <li>AWS
                <ul>
                    <li>Fargate, Lambda, RDS (PostgreSQL), Elasticache (Redis), SNS, SQS, S3, DynamoDB, SES, API Gateway, CloudFormation, EC2, Elastic Beanstalk</li>
                </ul>
            </li>
            <li>HTML, CSS</li>
        </ul>
    </div>
</div>
{% endblock %}