{% extends 'layouts/base.html' %}

{% block body %}
<div id="main">
    <div id="bio" class="information">
        <p class="title">About</p>
        <p class="description">
            I'm a Software Engineer currently working at CNN.
        </p>
        <p class="description">
            I've developed applications and microservices across various domains using GraphQL and REST APIs, SQL and NoSQL databases, message queues, CDN and application caches, and infrastructure as code.
        </p>
        <p class="description">
            When I'm not coding, I enjoy exploring the culinary world, craft beer, and martial arts.
        </p>
    </div>
    <div id="experience" class="information">
        <p class="title">Experience</p>
        <ul class="description">
            <li>Python
                <ul>
                    <li>Django, REST Framework, Celery, Flask, pytest, mock</li>
                </ul>
            </li>
            <li>JavaScript
                <ul>
                    <li>Node.js, MongoDB, React, Jest</li>
                </ul>
            </li>
            <li>AWS
                <ul>
                    <li>ECS, Lambda, RDS (PostgreSQL), ElastiCache (Redis), SNS, SQS, S3, DynamoDB, CloudWatch, SES, API Gateway, CloudFormation, EC2, Elastic Beanstalk</li>
                </ul>
            </li>
            <li>HTML, CSS</li>
            <li>Tech & Team Lead</li>
            <li>Domain knowledge of Digital News, E-commerce, Social Media, Education, and Entertainment.</li>
        </ul>
    </div>
</div>
{% endblock %}